.btn-primary {
  background: #516482;
  border-color: #516482;
  transition: background-color 2ms;
}

.btn-primary:disabled {
  background: #516482;
  border-color: #516482;
}

.btn-primary:active, .btn-primary:hover {
  background: #051836;
  border-color: #516482;
}

.btn-primary:active:disabled {
  background: #516482;
  border-color: #516482;
}

a.btn {
  text-decoration: none;
}