.logo {
  filter: drop-shadow(0 1rem 1rem rgba(0, 0, 0, 0.5));
  transition: transform 500ms;
}

.logo:hover {
  transform: scale(1.05);
}

.navbar-brand {
  background: none;
  border: none;
}

.navbar-brand:active, .navbar-brand:focus {
  outline: none;
}
