.logo {
  background: none;
  border: none;
  transition: transform 500ms;
}

.logo:hover {
  transform: scale(1.05);
}

.navbar-brand {
  background: none;
  border: none;
}

.logo:active, .logo:focus, .navbar-brand:active, .navbar-brand:focus {
  outline: none;
}
